services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: stamply-api:latest
    container_name: stamply-api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DbConnectionString=Server=db;Database=stamply;User Id=postgres;Password=postgres;
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:alpine
    container_name: stamply-db
    environment:
      - POSTGRES_DB=stamply
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_prod:
