services:
  db:
    image: postgres:alpine
    container_name: stamply-db-dev
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=stamply
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
